body {
  margin: 0;
  font-family: Roboto;
}

.root-panel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  background-color: gold;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
}

.title-bar__logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title-bar__title {
  font-size: 16px;
  font-weight: 500;
  flex-grow: 2;
}

.unchive-label {
  margin: 0;
}

.unchive-button {
  border: 0;
  box-shadow: none;
  background: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.unchive-button--icon i {
  font-size: 20px;
}

.unchive-button--icon {
  border-radius: 3600px;
  padding: 20px;
  transition: background 0.2s;
}

.unchive-button--icon:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
