body {
  margin: 0;
  font-family: Roboto;
}

.root-panel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  background-color: gold;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
}

.title-bar__logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title-bar__title {
  font-size: 16px;
  font-weight: 500;
}

.unchive-label {
  margin: 0;
}

.unchive-button {
  border: 0;
  box-shadow: none;
}
